<div class="About">

  <div class="Container1">
    <p class="Aux">Bienvenidos</p>
    <h3 class="Title">Salón de belleza Cheveux</h3>
    <p class="Aux">_______</p>
    <p class="Info">Es un salón de alta categoría en Medellín que perfecciona cada detalle relacionado con el arte de la peluquería y la belleza,
      reúne el carisma de un negocio familiar y la innovación de nuestro equipo profesional, que propone en cada servicio creatividad,
      evolución y calidad para brindarle una experiencia grata y personalizada a cada cliente.
    </p>
  </div>

  <div class="Container2">
    <div class="Text">
      <p class="Aux">Fundador</p>
      <h3 class="Title">Marcelo Santamaría</h3>
      <p class="Aux">_______</p>
      <p class="Info">Estilista profesional, con mas de veinte años de experiencia, creativo e innovador, siempre a la vanguardia de la moda</p>
    </div>
    <div class="Image">
      <img src="../../../assets/founder.png">
    </div>
  </div>

</div>
