<div class="Gallery">
  <div class="Text">
    <p class="Aux">Arte</p>
    <h3 class="Title">Clientes satisfechos</h3>
    <p class="Aux">_______</p>
    <p class="Info">Dedicación de nuestros estilistas en su cuidado e imagen personal.
    </p>
  </div>
  <div class="Images">
    <div class="Box Box0">
      <img src="../../../assets/gallery0.jpg">
    </div>
    <div class="Box Box1">
      <img src="../../../assets/gallery1.jpg">
    </div>
    <div class="Box Box2">
      <img src="../../../assets/gallery2.jpg">
    </div>
    <div class="Box Box3">
      <img src="../../../assets/gallery3.jpg">
    </div>
    <div class="Box Box4">
      <img src="../../../assets/gallery4.jpg">
    </div>
    <div class="Box Box5">
      <img src="../../../assets/gallery5.jpg">
    </div>
    <div class="Box Box6">
      <img src="../../../assets/gallery6.jpg">
    </div>
    <div class="Box Box7">
      <img src="../../../assets/gallery7.jpg">
    </div>
    <div class="Box Box8">
      <img src="../../../assets/gallery8.jpg">
    </div>
    <div class="Box Box9">
      <img src="../../../assets/gallery9.jpg">
    </div>
  </div>
</div>
