<nav class="Navbar">
  <div class="Icon" id="icon">
    <img class="Logo" src="../../../assets/logo.png">
    <i class="fa fa-bars fa-2x" id="buttonMenu" aria-hidden="true"></i>
  </div>
  <div class="Menu">
    <ul>
      <li><a href="#">Nosotros</a></li>
      <li><a href="#">Nuestros estilistas</a></li>
      <li><a href="#">Precios</a></li>
      <li><a href="#"><img src="../../../assets/logo.png"></a></li>
      <li><a href="#">Galeria</a></li>
      <li><a href="#">Horario de atención</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </div>
</nav>
