<div class="Stylists">

  <div class="Text">
    <p class="Aux">Profesionalismo</p>
    <h3 class="Title">Los mejores estilistas</h3>
    <p class="Aux">_______</p>
    <p class="Info">Para nosotros es muy importante tener los mejores estilistas y asesores de imagen de la ciudad, todos con una larga trayectoria
      y con destacados reconocimientos en su campo, la confianza que nuestros clientes tienen en nosotros es nuestro activo mas
      valioso.
    </p>
  </div>

  <div class="Images">
    <div class="Stylist">
      <img src="../../../assets/stylist0.jpg">
    </div>
    <div class="Stylist">
      <img src="../../../assets/stylist1.jpg">
    </div>
    <div class="Stylist">
      <img src="../../../assets/stylist2.jpg">
    </div>
    <div class="Stylist">
      <img src="../../../assets/stylist3.jpg">
    </div>
    <div class="Stylist">
      <img src="../../../assets/stylist4.jpg">
    </div>
    <div class="Stylist">
      <img src="../../../assets/stylist5.jpg">
    </div>
    <div class="Stylist">
      <img src="../../../assets/stylist6.jpg">
    </div>
  </div>

  <div class="Names">
  <div class="Name"><p>Jeferson</p></div>
    <div class="Name"><p>Santiago</p></div>
    <div class="Name"><p>Natalia</p></div>
    <div class="Name"><p>Carlos</p></div>
    <div class="Name"><p>Miguel</p></div>
    <div class="Name"><p>Estefan</p></div>
    <div class="Name"><p>Yurani</p></div>
  </div>

</div>
