<div class="Prices">

  <div class="Header">
    <p class="Aux">Nuestros</p>
    <h3 class="Title">Precios</h3>
    <p class="Aux">_______</p>
    <p class="Info">
      El excelente servicio que ofrecemos a todos nuestros clientes
      esta respaldado por todos los años de experiencia acumulados
      entre todos nuestros colaboradores
    </p>
  </div>

  <div class="PricesList">
    <h3>Cuidado de las uñas - manos</h3>
    <div class="Item"><p>Manicura clásica</p><p>..........</p><p>$ 50.</p></div>
    <div class="Item"><p>Manicura nutri-cura</p><p>..........</p><p>$ 75.</p></div>
    <div class="Item"><p>Manicura para niños</p><p>..........</p><p>$ 35.</p></div>
    <div class="Item"><p>Manicura shellac</p><p>..........</p><p>$ 70.</p></div>
  </div>

  <div class="PricesList">
    <h3>Cuidado de las uñas - pies</h3>
    <div class="Item"><p>Pedicura clásica</p><p>..........</p><p>$ 75.</p></div>
    <div class="Item"><p>Manicura nutri-cura</p><p>..........</p><p>$ 95.</p></div>
    <div class="Item"><p>Manicura para niños</p><p>..........</p><p>$ 50.</p></div>
    <div class="Item"><p>Manicura shellac</p><p>..........</p><p>$ 100.</p></div>
  </div>

  <div class="PricesList">
    <h3>Remoción de shellac</h3>
    <div class="Item"><p>Manos</p><p>..........</p><p>$ 20.</p></div>
    <div class="Item"><p>Pies</p><p>..........</p><p>$ 25.</p></div>
  </div>

  <div class="PricesList">
    <h3>Cambio de esmalte</h3>
    <div class="Item"><p>Manos</p><p>..........</p><p>$ 25.</p></div>
    <div class="Item"><p>Pies</p><p>..........</p><p>$ 30.</p></div>
  </div>

  <div class="PricesList">
    <h3>Cuidado del cabello, cortes de alta peluquería</h3>
    <div class="Item"><p>Corte y peinado (cabello corto)</p><p>..........</p><p>$ 100.</p></div>
    <div class="Item"><p>Corte y peinado (cabello largo)</p><p>..........</p><p>$ 130.</p></div>
    <div class="Item"><p>Corte y peinado para caballeros</p><p>..........</p><p>$ 50.</p></div>
    <div class="Item"><p>Corte en capas largas</p><p>..........</p><p>$ 150.</p></div>
    <div class="Item"><p>Corte para niños</p><p>..........</p><p>$ 35.</p></div>
    <div class="Item"><p>Corte para niñas</p><p>..........</p><p>$ 60.</p></div>
  </div>

  <div class="PricesList">
    <h3>Cuidado de las uñas - manos</h3>
    <div class="Item"><p>Manicura clásica</p><p>..........</p><p>$ 50.</p></div>
    <div class="Item"><p>Manicura nutri-cura</p><p>..........</p><p>$ 75.</p></div>
    <div class="Item"><p>Manicura para niños</p><p>..........</p><p>$ 35.</p></div>
    <div class="Item"><p>Manicura shellac</p><p>..........</p><p>$ 70.</p></div>
  </div>

</div>
